<template>
    <div class="event-list">
        <div class="table-container" role="table">
            <div class="flex-table" role="rowgroup">
                <sidebar-profile></sidebar-profile>

                <div class="column-main" role="cell" >
                   <header-app></header-app>
                <div>
                    <router-view></router-view>
                </div>
                </div>
            </div>
        </div>
        <registration-form  v-if="modalRegistration" @closeModal="modalRegistration = $event"></registration-form>
        <auth-form v-if="modalAuth" @closeModal="modalAuth = $event"></auth-form>
        <create-event v-if="modalCreateEvent" @closeModal="modalCreateEvent = $event"></create-event>
    </div>
</template>

<script>
    import registration from "../registration";
    import authorization    from "../authorization";
    import createEvent from "../createEvent";
    // import axios from "axios";
    import Sidebar from "./sidebar";
    import Header from "../Header";

    import store from '../../store';
    import { mapState, mapMutations } from 'vuex';

    export default {
        name: 'event-list',
        data() {
            return {
                selectedFilter: 'events',
                eventInfo: [
                    {
                        name: 'test name',
                        created: '12/01/20',
                        sport_type: 'football',
                        time: '8PM',
                        place: "Meteor",
                        price: 'free'
                    },
                    {
                        name: 'test name2323',
                        created: '16/01/20',
                        sport_type: 'footballrwerwerwer',
                        time: '8PMwerwer',
                        place: "Meteowerwerr",
                        price: 'freeewrwer'
                    }
                ],
                selectedMenu: 'events',
                modalRegistration: false,
                modalAuth: false,
                modalCreateEvent: false,
                allCities: null,
                coverType: null,
                priceType: null,
                sex: null,
                sports: null

            }
        },
        components: {
            'sidebar-profile': Sidebar,
            'registration-form': registration,
            'auth-form': authorization,
            'create-event': createEvent,
            'header-app': Header
        },
        beforeMount () {
            store.dispatch('dictionaries/getAllSports')
            store.dispatch('dictionaries/getAllCities')
            store.dispatch('dictionaries/getCoverType')
            store.dispatch('dictionaries/getPriceType')
            store.dispatch('dictionaries/getGender')
        },

        methods: {
            ...mapMutations('modals', {
                'openModalAuth': 'openModalAuth'
            }),
            userLogged() {
                return !!(this.$session.exists())
            },
            toggleFilter(name) {
                if(this.selectedFilter == name) {
                    this.selectedFilter = null
                } else {
                    this.selectedFilter = name
                }
            },
            selectMenu(name) {
                this.selectedMenu = name;
            },
            createEvent() {
                this.modalCreateEvent = !this.modalCreateEvent
            },

        },
        computed: {
            ...mapState('dictionaries', {
                allSports: 'sports'
            }),
        },
        mounted() {
        }

    }
</script>

<style lang="scss">
    @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900&display=swap&subset=cyrillic');

    html, body {
        height: 100%;
    }

    .event-list {
        background: url('../../assets/images/background.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        min-height: 100%;
        padding: 0 42px;

        &__header {
            width: 100%;
            height: 122px;
            background-color: #FFFFFF;
            padding: 30px 42px;
            box-shadow: 0px 4px 20px rgba(51, 51, 51, 0.2);
        }

        &__filter {
            width: 100%;
            display: block;
            margin-bottom: 24px;
            cursor: pointer;
        }

        &__filter-title {
            width: 85%;
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 23px;
            color: #FFFFFF;
        }

        &__filter-title-img {
            width: 15%;
        }

        &__filter-item {
            width: 100%;
            padding-left: 47px;
            margin-bottom: 23px;
        }

        &__filter-item-title {
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 23px;
            color: #FFFFFF;
            /*font-family: Source Sans Pro;*/
            /*font-style: normal;*/
            /*font-weight: normal;*/
            /*font-size: 14px;*/
            /*line-height: 18px;*/
            /*color: #FFFFFF;*/
        }
        &__filter-list {
            list-style: none;
        }

        &__filter-checkbox {
            background: #F2F7F5;
            borser: 1px solid white;

        }


        &__header-column-left {
            width: 50%;
            /*background-color: red;*/
        }

        &__header-column-center {
            width: 20%;
            /*background-color: blue;*/
        }

        &__header-column-right {
            width: 16%;
            cursor: pointer;
            /*background-color: yellow;*/
        }

        &__search-input {
            width: 626px;
            height: 50px;
            background: #EEEEEE;
            border-radius: 5px;
            border: none;

            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 23px;
            color: #616060;
            padding-left: 59px;
        }

        &__search-img {
            position: relative;
            top: 5px;
            left: 50px;
            cursor: pointer;
        }

        &__header-create-event {
            width: 212px;
            height: 50px;
            background: #FAAE2B;
            border: none;
            box-shadow: 0px 4px 20px rgba(250, 174, 43, 0.25);
            border-radius: 5px;


            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 23px;
            color: #FFFFFF;
        }

        &__registration-button {
            width: 208px;
            height: 50px;
            background: #F59F1E;
            border: none;
            box-shadow: 0px 4px 20px rgba(250, 174, 43, 0.25);
            border-radius: 5px;

            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 23px;
            cursor: pointer;
            color: #FFFFFF;
        }

        &__entrance-button {
            padding: 10px 52px;
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 23px;
            color: #FAAE2B;
            cursor: pointer;
        }
    }

    .table-container {
        display: block;
        width: 100%;
        min-height: 100vh;
    }

    .flex-table {
        display: flex;
        flex-flow: wrap;
        transition: 0.5s;
        min-height: 100vh;
    }

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .column-sidebar {
        width: 17%;
        background-color: #006D5F;
        min-height: 100%;
        padding-top: 110px;
        padding-left: 31px;

    }

    .column-main {
        width: 83%;
    }

    .circle {
        width: 52px; /* задаете свои размеры */
        height: 52px;
        overflow: hidden;
        background: #fff;
        /*padding: 5px; !* создание отступов *!*/
        border-radius: 50%;
        /* не забываем о кроссбраузерности */
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        /*border: #aaa 1px solid;*/
        box-shadow: 0px 4px 20px rgba(51, 51, 51, 0.25); /* тень */
        -moz-box-shadow: 0px 4px 20px rgba(51, 51, 51, 0.25)b;
        -webkit-box-shadow: 0px 4px 20px rgba(51, 51, 51, 0.25);
    }
    .circle img {
        display: block;
        width:100%;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
    }

    .event {
        width: 934px;
        height: 400px;
        margin: 43px 82px;
        box-shadow: 0px 4px 20px rgba(51, 51, 51, 0.2);

        &__image {
            background: url('../../assets/images/football-event.png');
            width: 50%;
            border-radius: 5px 0px 0px 5px;
        }

        &__description {
            width: 50%;
            background-color: #ffffff;
            padding: 32px 41px 45px 35px;
        }

        &__title {
            width: 100%;
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 38px;
            color: #333333;
        }

        &__created {
            width: 100%;
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: #6A6A6A;
            margin-bottom: 37px;
        }

        &__info {
            width: 50%;
            margin-bottom: 18px;
        }

        &__info-img {
            width: 30%;
        }

        &__info-item {
            width: 70%;
        }

        &__info-name {
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: #6A6A6A;
        }

        &__info-desc {
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #333333;
        }
    }

    .ant-slider {
        width: 80% !important;

    }

    .ant-slider-track {
        background: #F59F1E !important;

    }


    .ant-slider-handle {
        border: solid 2px #F59F1E !important;
    }
</style>
