<template>
    <!--                Sidebar event-list-->
    <div class="column-sidebar" role="cell">

            <div class="event-list__filter-title">
                <router-link :to="{name: 'MainInfo'}">
                    <span class="link">Персональные данные</span>
                </router-link>

            </div>

        <div class="event-list__filter-title">
            <router-link :to="{name: 'Favorites'}">
                <span class="link">Избранное</span>
            </router-link>
        </div>


        <div class="event-list__filter-title">
            <router-link :to="{name: 'Friends'}">
                <span class="link">Друзья</span>
            </router-link>
        </div>


        <div class="event-list__filter-title">
            <router-link :to="{name: 'Chats'}">
                <span class="link">Чаты</span>
            </router-link>
        </div>


        <div class="event-list__filter-title">
            <router-link :to="{name: 'Archive'}">
                <span class="link">Архив</span>
            </router-link>
        </div>

        <div class="event-list__filter-title">
            <router-link :to="{name: 'MyEvents'}">
                <span class="link">Мои мероприятия</span>
            </router-link>
        </div>

        <div class="event-list__filter-title">
            <router-link :to="{name: 'Reference'}">
                <span class="link">Справка</span>
            </router-link>
        </div>


    </div>
    <!--                Sidebar event-list-->

</template>

<script>
    export default {
        name: "sidebar-profile",
        data() {
            return {
            }
        }
    }
</script>

<style>
.sidebar-menu {
    display: flex;
    flex-direction: column;
}
    .link {
        color: white;
    }
</style>