<template>
  <div class="home">
<!--    <event-list></event-list>-->
  </div>
</template>

<script>
// @ is an alias to /src
// import EventList from "../components/eventList";

export default {
  name: 'home',
  components: {
    // EventList
  }
}
</script>
