<template>
    <div>
        <div class="row" v-for="(item, index) in eventInfo" :key="index" >
            {{events}}
            <div class="event row">

                <div class="event__image"></div>
                <div class="event__description" >
                    <div class="event__title">{{item.name}}</div>
                    <div class="event__created">{{item.created}}</div>
                    <div class="row">
                        <div class="event__info row">
                            <div class="event__info-img">img</div>
                            <div class="event__info-item">
                                <div class="event__info-name">Вид спорта</div>
                                <div class="event__info-desc">Футбол</div>
                            </div>
                        </div>
                        <div class="event__info row">
                            <div class="event__info-img"><img src="../../assets/images/location.png" alt=""></div>
                            <div class="event__info-item">
                                <div class="event__info-name">Место</div>
                                <div class="event__info-desc">Стадион "Метеор"</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="event__info row">
                            <div class="event__info-img"><img src="../../assets/images/clock.png" alt=""></div>
                            <div class="event__info-item">
                                <div class="event__info-name">Время</div>
                                <div class="event__info-desc">с 8:00 до 13:00</div>
                            </div>
                        </div>
                        <div class="event__info row">
                            <div class="event__info-img"><img src="../../assets/images/price.png" alt=""></div>
                            <div class="event__info-item">
                                <div class="event__info-name">Цена</div>
                                <div class="event__info-desc">Бесплатно</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="event__info row">
                            <div class="event__info-img"><img src="../../assets/images/calendar.png" alt=""></div>
                            <div class="event__info-item">
                                <div class="event__info-name">Дата</div>
                                <div class="event__info-desc">16/12/19</div>
                            </div>
                        </div>
                        <div class="event__info row">
                            <div class="event__info-img"><img src="../../assets/images/team.png" alt=""></div>
                            <div class="event__info-item">
                                <div class="event__info-name">Участники</div>
                                <div class="event__info-desc">9/10</div>
                            </div>
                        </div>
                    </div>

                    <div class="event__created">Buttons</div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import store from "../../store";
    import {mapState} from "vuex";

    export default {
        name: "Events",
        data() {
            return {
                eventInfo: [
                    {
                        name: 'test name',
                        created: '12/01/20',
                        sport_type: 'football',
                        time: '8PM',
                        place: "Meteor",
                        price: 'free'
                    },
                    {
                        name: 'test name2323',
                        created: '16/01/20',
                        sport_type: 'footballrwerwerwer',
                        time: '8PMwerwer',
                        place: "Meteowerwerr",
                        price: 'freeewrwer'
                    }
                ],
            }
        },
        beforeMount () {
            store.dispatch('events/getEvents')
        },
        computed: {
            ...mapState('events', {
                events: 'events'
            }),
        },

    }
</script>

<style scoped>

</style>