<template>
    <div class="event-list">
        <div class="table-container" role="table">
            <div class="flex-table" role="rowgroup">
                <sidebar-app></sidebar-app>

                <div class="column-main" role="cell" >
                    <header-app></header-app>
                    <div>
                        <router-view></router-view>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Header from '../Header'
import Sidebar from './Sidebar'

    export default {
        name: 'event-list',
        data() {
            return {
                selectedFilter: 'events',
                eventInfo: [
                    {
                    name: 'test name',
                    created: '12/01/20',
                    sport_type: 'football',
                    time: '8PM',
                    place: "Meteor",
                    price: 'free'
                },
                    {
                    name: 'test name2323',
                    created: '16/01/20',
                    sport_type: 'footballrwerwerwer',
                    time: '8PMwerwer',
                    place: "Meteowerwerr",
                    price: 'freeewrwer'
                }
                ],
            }
        },
        components: {
            'header-app': Header,
            'sidebar-app': Sidebar
        },
    }
</script>

<style lang="scss">
    @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900&display=swap&subset=cyrillic');

    html, body {
        height: 100%;
    }

    .event-list {
        background: url('../../assets/images/background.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        min-height: 100%;
        padding: 0 42px;

        &__filter {
            width: 100%;
            display: block;
            margin-bottom: 24px;
            cursor: pointer;
        }

        &__filter-title {
            width: 85%;
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 23px;
            color: #FFFFFF;
        }

        &__filter-title-img {
            width: 15%;
        }

        &__filter-item {
            width: 100%;
            padding-left: 17%;
            margin-bottom: 23px;
        }

        &__filter-item-title {
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 23px;
            color: #FFFFFF;
            /*font-family: Source Sans Pro;*/
            /*font-style: normal;*/
            /*font-weight: normal;*/
            /*font-size: 14px;*/
            /*line-height: 18px;*/
            /*color: #FFFFFF;*/
        }
       &__filter-list {
           list-style: none;
       }

        &__filter-checkbox {
            background: #F2F7F5;
            borser: 1px solid white;

        }
    }

    .table-container {
        display: block;
        width: 100%;
    }

    .flex-table {
        display: flex;
        flex-flow: wrap;
        transition: 0.5s;
    }

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .column-sidebar {
        width: 298px;
        background-color: #006D5F;
        min-height: 100%;
        padding-top: 110px;
        padding-left: 31px;
    }

    .column-main {
        width: calc(100% - 298px);
    }

    .circle {
        width: 52px; /* задаете свои размеры */
        height: 52px;
        overflow: hidden;
        background: #fff;
        /*padding: 5px; !* создание отступов *!*/
        border-radius: 50%;
        /* не забываем о кроссбраузерности */
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        /*border: #aaa 1px solid;*/
        box-shadow: 0px 4px 20px rgba(51, 51, 51, 0.25); /* тень */
        -moz-box-shadow: 0px 4px 20px rgba(51, 51, 51, 0.25)b;
        -webkit-box-shadow: 0px 4px 20px rgba(51, 51, 51, 0.25);
    }
    .circle img {
        display: block;
        width:100%;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
    }

    .event {
        width: 934px;
        height: 400px;
        margin: 43px 82px;
        box-shadow: 0px 4px 20px rgba(51, 51, 51, 0.2);

        &__image {
            background: url('../../assets/images/football-event.png');
            width: 50%;
            border-radius: 5px 0px 0px 5px;
        }

        &__description {
            width: 50%;
            background-color: #ffffff;
            padding: 32px 41px 45px 35px;
        }

        &__title {
            width: 100%;
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 38px;
            color: #333333;
        }

        &__created {
            width: 100%;
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: #6A6A6A;
            margin-bottom: 37px;
        }

        &__info {
            width: 50%;
            margin-bottom: 18px;
        }

        &__info-img {
            width: 30%;
        }

        &__info-item {
            width: 70%;
        }

        &__info-name {
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: #6A6A6A;
        }

        &__info-desc {
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #333333;
        }
    }

    .ant-slider {
        width: 80% !important;

    }

    .ant-slider-track {
        background: #F59F1E !important;

    }


     .ant-slider-handle {
         border: solid 2px #F59F1E !important;
     }
</style>
