<template>
    <!--                Sidebar event-list-->
    <div class="column-sidebar" role="cell">

        <div class="event-list__filter row" @click="toggleFilter('events')">
            <div class="event-list__filter-title" @click="selectMenu('events')"><span>Мероприятия</span></div>
            <div class="event-list__filter-title-img" v-if="selectedFilter != 'events'"><img src="../../assets/images/arrow_back.png"></div>
            <div class="event-list__filter-title-img" v-if="selectedFilter == 'events'"><img src="../../assets/images/arrow_open.png"></div>
        </div>
        <div class="" v-if="selectedFilter == 'events'">
            <div class="event-list__filter-item">
                <p class="event-list__filter-item-title">Вид спорта</p>
                <ul class="event-list__filter-list" v-for="(item, index) in sports" :key="`sport-${index}`">
                    <li>
                        <label class="inputLabel inputLabel_checkbox">
                            <input type="checkbox" :value="item.localName" :name="item.localName">
                            <span class="inputLabel__checkmark-filter"></span>
                            <span class="inputLabel__text-filter">{{item.localName}}</span>
                        </label>

                    </li>

                    <!--                                    <span><input class="inputLabel_checkbox" type="checkbox" id="sport" :name="item.localName"></span>{{item.localName}}</li>-->
                </ul>
            </div>

            <div class="event-list__filter-item">
                <p class="event-list__filter-item-title">Пол участника</p>
                <ul class="event-list__filter-list" v-for="(item, index) in sex" :key="`sex-${index}`">
                    <li>
                        <label class="inputLabel inputLabel_checkbox">
                            <input type="checkbox">
                            <span class="inputLabel__checkmark-filter"></span>
                            <span class="inputLabel__text-filter">{{item.localName}}</span>
                        </label>

                    </li>
                </ul>
            </div>


            <div class="event-list__filter-item">
                <p class="event-list__filter-item-title">Возраст участника</p>
                <a-slider range :defaultValue="[20, 50]"/>

            </div>

        </div>

        <div class="event-list__filter row" @click="toggleFilter('people')">
            <div class="event-list__filter-title" @click="selectMenu('people')"><span>Люди</span></div>
            <div class="event-list__filter-title-img" v-if="selectedFilter != 'people'"><img src="../../assets/images/arrow_back.png"></div>
            <div class="event-list__filter-title-img" v-if="selectedFilter == 'people'"><img src="../../assets/images/arrow_open.png"></div>
        </div>
        <div class="event-list__filter row" v-if="selectedFilter == 'people'">
            <div>people</div>
        </div>

        <div class="event-list__filter row" @click="toggleFilter('places')">
            <div class="event-list__filter-title" @click="selectMenu('places')"><span>Спортивные площадки</span></div>
            <div class="event-list__filter-title-img" v-if="selectedFilter != 'places'"><img src="../../assets/images/arrow_back.png"></div>
            <div class="event-list__filter-title-img" v-if="selectedFilter == 'places'"><img src="../../assets/images/arrow_open.png"></div>
        </div>
        <div class="event-list__filter row" v-if="selectedFilter == 'places'">
            <div>places</div>
        </div>
    </div>
    <!--                Sidebar event-list-->

</template>

<script>
    import store from '../../store';
    import {mapState} from "vuex";

    export default {
        name: "sidebar-event-list",
        data() {
            return {
                selectedFilter: 'events',
            }
        },
                beforeMount () {
            store.dispatch('dictionaries/getAllSports')
            store.dispatch('dictionaries/getAllCities')
            store.dispatch('dictionaries/getCoverType')
            store.dispatch('dictionaries/getPriceType')
            store.dispatch('dictionaries/getGender')
        },
        computed: {
            ...mapState('dictionaries', {
                sports: 'sports',
                allCities: 'cities',
                coverType: 'coverTypes',
                priceType: 'priceTypes',
                sex: 'gender',
            })
        },
        methods: {
            toggleFilter(name) {
                if(this.selectedFilter == name) {
                    this.selectedFilter = null
                } else {
                    this.selectedFilter = name
                }
            },
            selectMenu(name) {
                this.selectedMenu = name;
            },
            createEvent() {
                this.modalCreateEvent = !this.modalCreateEvent
            }
        },
    }
</script>

<style>

</style>