<template>
    <div class="modal-registration" v-if="modalLogIn">
        <div class="modal-registration__modal">

<div class="modal-registration__modal-block--image">
    <img src="../assets/images/registration-picture.png" alt="" />
</div>
<div class="modal-registration__modal-block--form">
    <div class="modal-registration__title">
    <p>Войти</p>
        <div class="modal-registration__close" @click="closeModalLogIn()">
            <img src="../assets/images/close.png" alt="">
        </div>
    </div>
            <form action="#" @submit.prevent="onSubmit">

<!--                <div class="form-group">-->
<!--                    <label class="form-group__label" for="name">Введите логин*</label>-->
<!--                    <div class="form-group__lock">-->
<!--                        <img src="../assets/images/user.svg" alt="">-->
<!--                    </div>-->

<!--                    <input class="form-group__input" type="text" id="name" name="name" v-model.trim="user.login"-->
<!--                           :class="{isInvalid: (!$v.user.login.required && $v.user.login.$dirty)}">-->
<!--                </div>-->
<!--                <div class="invalidFeedbackBlock">-->
<!--                    <span class="error" v-if="!$v.user.login.required && $v.user.login.$dirty">Login is required.</span>-->
<!--                </div>-->

                <div class="form-group">
                    <label class="form-group__label" for="username">Ел. почту</label>

                    <input class="form-group__input" type="text" id="username" name="username" v-model.trim="user.username"
                           :class="{isInvalid: (!$v.user.username.required && $v.user.username.$dirty)}" @blur="$v.user.username.$touch()">
                    <div class="form-group__lock">
                    <!--                        <img class="svg-icon" src="../assets/images/email.svg" alt="">-->
                        <div class="email"></div>
                    </div>

                </div>
                <div class="invalidFeedbackBlock">
                    <span class="error" v-if="!$v.user.username.required && $v.user.username.$dirty">Email is required.</span>
                    <span class="error" v-if="$v.user.username.required && $v.user.username.$dirty && !$v.user.username.email">Should be email</span>
                </div>

                <div class="form-group">
                    <label class="form-group__label" for="pass">Пароль</label>
                    <div class="form-group__lock">
<!--                        <img src="../assets/images/lock.svg" alt="">-->
                        <div class="lock"></div>
                    </div>

                    <input class="form-group__input" :type="showPassword ? 'text' : 'password'" id="pass" name="pass"
                           v-model.trim="user.password"
                           :class="{isInvalid: (!$v.user.password.required && $v.user.password.$dirty)}" @blur="$v.user.password.$touch()">
                    <div class="form-group__show-pass" @click="showPassword = !showPassword">
                        <img src="../assets/images/show-eye.svg" alt="">
                    </div>
                </div>
                <div class="invalidFeedbackBlock">
                    <span class="error" v-if="!$v.user.password.required && $v.user.password.$dirty">Password is required.</span>
                    <span class="error"
                          v-if="(!$v.user.password.minLength || !$v.user.password.maxLength) && $v.user.password.$dirty">
                        Password should be 6-20 characters( entered {{user.password.length}})
                    </span>
                </div>

<!--                <div class="form-group">-->
<!--                    <label class="form-group__label" for="confirm">Подтвердите пароль</label>-->
<!--                    <div class="form-group__lock" @click="toggleShowPassword('showPassword')">-->
<!--&lt;!&ndash;                        <img src="../assets/images/lock.svg" alt="">&ndash;&gt;-->
<!--                        <div class="lock"></div>-->

<!--                    </div>-->
<!--                    <input class="form-group__input" :type="showConfirmPassword ? 'text' : 'password'" id="confirm" name="confirm"-->
<!--                           v-model.trim="user.confirmPassword"-->
<!--                           :class="{isInvalid: (!$v.user.confirmPassword.sameAs && $v.user.confirmPassword.$dirty)}">-->
<!--                    <div class="form-group__show-pass" @click="toggleShowPassword('showConfirmPassword')">-->
<!--                        <img src="../assets/images/show-eye.svg" alt="">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="invalidFeedbackBlock">-->
<!--                    <span class="error" v-if="!$v.user.confirmPassword.sameAs && $v.user.confirmPassword.$dirty">Should be the same with password</span>-->
<!--                </div>-->

                <input class="form-group__button" type="submit" value="Войти">
            </form>
            <div class="registered"><span>Забыли пароль?</span></div>
            <div class="registered"><span>Нет аккаунта? Создайте аккаунт</span></div>

</div>
        </div>

    </div>
</template>

<script>
    import {required, email, minLength, maxLength} from 'vuelidate/lib/validators';
    import {mapActions, mapMutations, mapState} from "vuex";

    export default {
        name: 'auth-form',
        data() {
            return {
                showModal: true,
                user: {
                    username: null,
                    password: null,
                },
                submitStatus: null,
                showPassword: false,
            }
        },
        validations: {
            user: {
                username: {required, email},
                password: {
                    required,
                    minLength: minLength(6),
                    maxLength: maxLength(20)
                }
            }
        },
        computed: {
            ...mapState('modals', {
                modalLogIn: 'modalLogIn'
            }),
        },
        methods: {
            ...mapActions({
                logIn: 'logIn'
            }),
            ...mapMutations('modals', {
                closeModalLogIn: 'closeModalLogIn'
            }),
            async onSubmit() {
                if (this.$v.$invalid) {
                    this.$v.$touch();
                    console.log('not send')
                } else {
                    console.log('send')
                    const user = {
                        username: this.user.username,
                        password: this.user.password,
                    }
                    await this.$store.dispatch('modals/logIn', user)
                    this.$session.start()
                    this.$nextTick()

                    // console.log(JSON.stringify(user))
                    // axios
                    //     .post(url, user)
                    //     .then(response => {
                    //         console.log("OK", response.headers);
                    //         if (response.status === 200) {
                    //             this.$session.start()
                    //             this.closeModal()
                    //         }
                    //     })
                    //     .catch(error => {
                    //         console.log("NOT OK", error);
                    //     });
                }
            },
            toggleShowPassword(name) {
                this[name] = !this[name]
            },
            closeModal() {
                this.$emit("closeModal", false);
            },
            test() {
                let d = this.$session.getAll()
                console.log('d', d)
            }
        }
    }
</script>

<style lang="scss">
    * {
        box-sizing: border-box;
    }

    @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900&display=swap&subset=cyrillic');

    .modal-registration {
        height: 100vh;
        width: 100vw;
        background-color: rgba(71, 93, 91, 0.5);
        position: absolute;
        top: 0;
        left: 0;


        &__modal {
            background-color: white;
            max-width: 1264px;
            max-height: 595px;
            box-shadow: 0px 4px 20px rgba(51, 51, 51, 0.25);
            border-radius: 15px;
            margin: 0 auto;
            // padding-top: 42px;
            /*vertical-align: middle;*/
            margin-top: 7%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }

        &__modal-block {
            width: 50%;
            position: relative;

            &--image {
                padding-left: 28px;
                margin-top: -47px;
            }
            &--form {
                padding: 42px 55px 50px 59px;
            }


        }

        &__modal {
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 42px;
            color: #333333;
        }
        &__title {
            position: relative;
        }

        &__close {
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .registrarion {
        background: url('../assets/images/background.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 100vh;
    }

    .header {
        display: flex;
        justify-content: flex-end;
        margin: 0 155px 140px 0;
        padding-top: 35px;

        &__btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 171px;
            height: 50px;
            background: #00473E;
            box-shadow: 0px 4px 20px rgba(0, 71, 62, 0.25);
            border-radius: 5px;
            margin: 0 12px;
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 23px;
            color: #F2F7F5;
            text-decoration: none;
            cursor: pointer;

            &:hover {
                background: #F5A61E;
                box-shadow: 0px 4px 20px rgba(250, 174, 43, 0.25);
                border-radius: 5px;
            }
        }
    }
    .form-group:hover .email {
        background-color: #FAAE2B;
    }

    .form-group:hover .form-group__input {
        border: 1px solid #FAAE2B;
    }


    .form-group:hover .lock {
        background-color: #FAAE2B;
    }

    .form-group {
        /*display: flex;*/
        /*flex-direction: column;*/
        position: relative;
        margin-bottom: 27px;
        text-align: left;

        &__label {
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            /*padding-left: 96px;*/
        }

        &__input {
            max-width: 556px;
            width: 100%;
            height: 50px;
            border: 1px solid rgba(187, 187, 187, 0.6);
            box-sizing: border-box;
            border-radius: 5px;
            margin-top: 12px;
            padding-right: 58px;
            padding-left: 63px;

            font-family: Source Sans Pro;
            font-style: Regular;
            font-size: 20px;
            line-height: 25px;

        }

        &__button {
            background: #FAAE2B;
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            box-shadow: 0px 4px 20px rgba(0, 71, 62, 0.25);
            border-radius: 5px;
            max-width: 556px;
            width: 100%;
            height: 50px;
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 23px;
            margin: 0 auto;
            color: #FFFFFF;
            transition: 0.5s;
            margin-bottom: 24px;
            cursor: pointer;

            &:hover {
                background: #F5A61E;
                box-shadow: 0px 4px 20px rgba(250, 174, 43, 0.25);
                border-radius: 5px;            }
        }

        &__show-pass {
            /*width: 1.3em;*/
            position: absolute;
            top: 50%;
            right: -45px;
            cursor: pointer;
            padding-right: 58px;

            &::before {
                content: "";
                height: 90%;
                border: 1px solid #C4C4C4;
                position: absolute;
                top: 7px;
                left: -9px;
            }
        }

        &__lock {
            width: 1.3em;
            position: absolute;
            top: 67%;
            left: 15px;
            padding-right: 58px;
        }

    }

    .add-photo {
        display: flex;
        justify-content: center;
        cursor: pointer;
    }


    @media (max-width: 992px) {
        .header {
            margin-bottom: 50px;
        }
    }

    @media (max-width: 768px) {
        label {
            text-align: center;
            padding-left: 0 !important;
        }
        .reg-form {
            padding: 0 10px;
            border-radius: 0;
        }
        .header {
            justify-content: center;
            margin-right: 0;
        }
    }

    .isInvalid {
        border: 1px solid #d24a43;
        /*box-shadow: 3px 4px 4px rgba(210, 74, 67, 0.8);*/

    }


    /*.svg-icon {*/
    /*    !*background: green;*!*/
    /*    !*color: red*!*/
    /*    fill: #d24a43;*/
    /*}*/

    /*.link{*/
    /*    width: 18px;*/
    /*    height: 15px;*/
    /*    background-color: #000;*/
    /*    display: block;*/
    /*    mask-image: url('../assets/images/email.svg');*/
    /*}*/


</style>
