<template>
  <div v-if="modalCreateEvent">
    <div class="createEventModal">
      <div class="createEventContainer">
        <div class="createEventHeading">
          <h1 class="createEventHeading__title">Создание мероприятия</h1>
            <svg class="createEventHeading__close" @click="closeModalCreateEvent()" width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M28.5 9.615L26.385 7.5L18 15.885L9.615 7.5L7.5 9.615L15.885 18L7.5 26.385L9.615 28.5L18 20.115L26.385 28.5L28.5 26.385L20.115 18L28.5 9.615Z" fill="#333333"/>
            </svg>
        </div>
        <form action="#" @submit.prevent="onSubmit">
          <div class="inputBox">
            <div class="inputContainer">
                <div class="inputRow">
                    <label class="inputLabel inputLabel_description">
                      <p class="inputLabel__text">Введите название события <span class="inputLabel__required">*</span></p>
                      <input required class="inputLabel__input" placeholder="Новое событие" v-model="newEvent.eventTitle">
                    </label>
                  </div>
                <div class="inputRow">
                    <label class="inputLabel inputLabel_description">
                      <p class="inputLabel__text">Введите описание события</p>
                      <input class="inputLabel__input" type="text" placeholder="Описание события" v-model="newEvent.description">
                    </label>
                  </div>
                <div class="inputRow">
                    <label class="inputLabel inputLabel_sport">
                      <p class="inputLabel__text">Выберите вид спорта <span class="inputLabel__required">*</span></p>
<!--                        <select name="" id="" class="inputLabel__input">-->
<!--                            <option value="" selected disabled="disabled">Пикер вида спорта</option>-->
<!--                            <option value="" v-for="(sport, index) in sports" :key="index">{{sport.localName}}</option>-->
<!--                        </select>-->

                        <a-select class="inputLabel__input" defaultValue="disabled" @change="select('sport', $event)">
                            <a-select-option value="disabled" disabled>Пикер вида спорта</a-select-option>
                            <a-select-option :value="item.localName" v-for="(item, index) in sports" :key="index">{{item.localName}}</a-select-option>
                        </a-select>

                    </label>
                  </div>
                <div class="inputRow">
                    <label class="inputLabel inputLabel_geo">
                      <p class="inputLabel__text">Выберите площадку <span class="inputLabel__required">*</span></p>
                      <input required class="inputLabel__input" placeholder="Введите название площадки" v-model="newEvent.place">
                    </label>
                  </div>
                <div class="inputRow">
                    <label class="inputLabel">
                        <p class="inputLabel__text">Укажите дату и время</p>
                        <a-date-picker
                                class="inputLabel__input"
                                format="YYYY-MM-DD HH:mm"
                                :showTime="{ defaultValue: formatTime }"
                                @change="selectDate"
                        />
                    </label>
                  </div>
                <div class="inputRow">
                  <label class="inputLabel inputLabel_price">
                      <p class="inputLabel__text">Укажите цену</p>
                      <input inputmode="numeric" class="inputLabel__input" placeholder="Цена" v-model="newEvent.price">
                  </label>
                </div>
            </div>
              <div class="inputContainer">
                <div class="inputRow">
                    <label class="inputLabel inputLabel_people">
                      <p class="inputLabel__text">Укажите количество участников <span class="inputLabel__required">*</span></p>
                      <input inputmode="numeric" type="number" min="1" required class="inputLabel__input" placeholder="Введите количество участников" v-model="newEvent.membersNumberLimit">
                    </label>
                  </div>
                <div class="inputRow">
                    <label class="inputLabel inputLabel_gender">
                      <p class="inputLabel__text">Выберите пол участников</p>
                        <a-select class="inputLabel__input" defaultValue="disabled" @change="select('sex', $event)">
                            <a-select-option value="disabled" disabled>Пикер пола участников</a-select-option>
                            <a-select-option :value="item.localName" v-for="(item, index) in sex" :key="index">{{item.localName}}</a-select-option>
                        </a-select>
                    </label>
                  </div>
                <div class="inputRow">
                    <label class="inputLabel age">
                      <p class="inputLabel__text">Выберите возраст участников</p>
                        <a-slider range :defaultValue="[15, 35]" :max="50" :min="6" v-model="ageValue"/>
                    </label>
                  </div>
                <div class="inputRow">
                    <label class="inputLabel inputLabel_whatsapp">
                      <p class="inputLabel__text">Ваш мобильный номер для связи</p>
                      <input inputmode="numeric" class="inputLabel__input" placeholder="Введите номер" v-model="newEvent.phoneNumber">
                    </label>
                  </div>
                <div class="inputRow inputRow_checkbox">
                    <label class="inputLabel inputLabel_checkbox">
                        <input type="checkbox" v-model="newEvent.regular">
                        <span class="inputLabel__checkmark"></span>
                        <span class="inputLabel__text">Регулярное событие</span>
                    </label>
                    <label class="inputLabel inputLabel_checkbox">
                        <input checked type="checkbox" v-model="newEvent.closed">
                        <span class="inputLabel__checkmark"></span>
                        <span class="inputLabel__text">Закрытое событие</span>
                    </label>
                  </div>
                <div class="inputRow">
                  <label class="inputLabel">
                      <p class="inputLabel__text">Выберите периодичность события</p>
                      <input class="inputLabel__input" placeholder="Пикер периодичности события" v-model="newEvent.period">
                  </label>
                  <p class="inputRow__requiredInfo">* - обязательное поле</p>
                </div>
              </div>
            </div>
          <button class="createEventBtn">Создать</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import {mapState, mapMutations} from "vuex";
import store from "../store";

    export default {
        data() {
            return {
                dateTime: null,
                newEvent: {
                    city: 'Днепр',
                    description: '',
                    sport: '',
                    place: '',
                    data: '',
                    price: '',
                    membersNumberLimit: null,
                    sex: '',
                    maxAge: 6,
                    minAge: 50,
                    phoneNumber: '',
                    regular: false,
                    closed: '',
                    period: '',
                    eventTitle: ''
        //             !city	string
        //             Enum:
        //                 Array [ 1 ]
        //             !closed	boolean
        //             !data	string($date-time)
        //             !description	string
        //             !eventTitle	string
        //             !maxAge	integer($int32)
        //             minimum: -128
        //             maximum: 127
        //             !membersNumberLimit	integer($int32)
        //             minimum: -128
        //             maximum: 127
        //             !minAge	integer($int32)
        //             minimum: -128
        //             maximum: 127
        //             !period	Period{...}
        //     !phoneNumber	string
        //     !place	string
        //     !price	string
        //     !regular	boolean
        //     !sex	string
        //     Enum:
        //         Array [ 2 ]
        //     !sport	string
        //     Enum:
        //         Array [ 14 ]
                },
                ageValue: [15, 35]
            }
        },
        beforeMount () {
            store.dispatch('dictionaries/getAllSports')
            store.dispatch('dictionaries/getAllCities')
            store.dispatch('dictionaries/getCoverType')
            store.dispatch('dictionaries/getPriceType')
            store.dispatch('dictionaries/getGender')
        },
        methods: {
            ...mapMutations('modals', {
                closeModalCreateEvent: 'closeModalCreateEvent',
            }),
                // selectedDateTime(event) {
                // console.log("test", event.target.value)
                // },
            onSubmit() {
                console.log('submited', this.newEvent)
                store.dispatch('events/createEvent', this.newEvent)

            },
            select(fieldName, value) {
                this.newEvent[fieldName] = value
            },
            selectDate(value) {
               this.newEvent.data =  moment(value).format('DD.MM.YYYY, h:mm')
            }
        },
        computed: {
            ...mapState('modals', {
                modalCreateEvent: 'modalCreateEvent'
            }),
            ...mapState('dictionaries', {
                sports: 'sports',
                allCities: 'cities',
                coverType: 'coverTypes',
                priceType: 'priceTypes',
                sex: 'gender',
            }),
            formatTime() {
                return moment('00:00', 'HH:mm')
            }
        },
        watch: {
            ageValue (newVal) {
                this.newEvent.minAge = newVal[0]
                this.newEvent.maxAge = newVal[1]
            }
        }
    }
</script>
<style>
  @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap&subset=cyrillic');
  @import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
  /*#app {*/
  /*    height: 100%;*/
  /*}*/
  .createEventModal {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    padding: 0 30px;
  }
  .createEventModal:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(52, 109, 104, 0.5);
  }
  .createEventHeading__title {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
  }
  .createEventHeading__close {
    cursor: pointer;
    position: relative;
    top: -6px;
  }
  .createEventHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .createEventContainer {
    max-width: 1170px;
    padding: 42px 54px;
    background: #fff;
    border-radius: 5px;
    width: 100%;
    overflow: auto;
    max-height: 95%;
    z-index: 1;
  }
  .inputBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .inputContainer {
    flex-grow: 1;
  }
  .inputContainer:first-child {
    margin-right: 74px;
  }
  .inputLabel {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    position: relative;
  }
  .inputLabel:before {
    content: '';
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 10px;
    width: 30px;
    height: 30px;
    bottom: 10px;
  }
  .inputLabel_description:before {
    background-image: url('../assets/createEvent/pencil.svg');
  }
  .inputLabel_sport:before {
      background-image: url('../assets/createEvent/sport.svg');
  }
  .inputLabel_geo:before {
    background-image: url('../assets/createEvent/geo.svg');
  }
  .inputLabel_price:before {
    background-image: url('../assets/createEvent/price.svg');
  }
  .inputLabel_gender:before {
      background-image: url('../assets/createEvent/gender.svg');
  }
  .inputLabel_people:before {
    background-image: url('../assets/createEvent/people.svg');
  }
  .inputLabel_whatsapp:before {
    background-image: url('../assets/createEvent/whatsapp.svg');
  }
  .inputLabel__text {
    font-size: 16px;
    line-height: 20px;
    color: #616060;
    margin-bottom: 10px;
  }

  .inputLabel__text-filter {
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: white;
      padding-left: 10px;
  }

  .inputLabel__input {
    border: 1px solid rgba(187, 187, 187, 0.6) !important;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 20px !important;
    line-height: 25px !important;
    padding: 12px 0 12px 48px !important;
    text-overflow: ellipsis !important;
  }
  .ant-select-selection--single {
      line-height: 25px !important;
      border: none !important;
      height: 25px !important;
  }
  .ant-select-selection__rendered {
      margin: 0 !important;
      line-height: 25px !important;
  }
  /*.ant-select-selection-selected-value {*/
  /*    padding: 12px 0 12px 48px !important;*/
  /*}*/
  .ant-select-focused .ant-select-selection{
      box-shadow: none !important;

  }

  .inputLabel__input::placeholder {
    color: #333;
  }
  .ant-select-focused {
    outline: none;
    border-color: #FAAE2B !important;
  }
  .inputLabel__required {
      outline: none;
      color: #FAAE2B;
  }
  .inputLabel_checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .inputLabel_checkbox input[type="checkbox"]:checked + .inputLabel__checkmark {
    background: url('../assets/createEvent/checkbox.svg') no-repeat center ;
  }
  .inputLabel_checkbox input[type="checkbox"]:checked + .inputLabel__checkmark-filter {
      background: url('../assets/createEvent/checkbox.svg') no-repeat center ;
  }

  .inputLabel__checkmark {
    width: 25px;
    height: 25px;
    border: 3px solid #FAAE2B;
    box-sizing: border-box;
  }

  .inputLabel__checkmark-filter {
      width: 16px;
      height: 16px;
      border: 2px solid #FAAE2B;
      box-sizing: border-box;
  }

  .inputLabel_checkbox .inputLabel__text {
    margin-bottom: 0;
    margin-left: 10px;
  }
  .inputLabel_checkbox {
    flex-direction: row;
    align-items: center;
  }
  .inputRow_checkbox {
    display: flex;
    justify-content: space-between;
    min-height: 100px;
  }
  .inputRow__requiredInfo {
    color: #FAAE2B;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
  }
  .createEventBtn {
    background: #FAAE2B;
    box-shadow: 0px 4px 20px rgba(250, 174, 43, 0.25);
    border-radius: 5px;
    text-align: center;
    color: #fff;
    width: 100%;
    border: none;
    padding: 12px 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    font-family: 'Source Sans Pro', sans-serif;
    cursor: pointer;
  }
  .createEventBtn:focus {
    outline: none;
  }
  @media (max-width: 856px) {
    .inputBox {
      flex-direction: column;
    }
    .inputContainer:first-child {
      margin-right: 0;
    }
    .createEventHeading__title {
      font-size: 24px;
    }
    .createEventContainer {
      padding: 30px;
    }
  }

  input[data-v-4bd11526] {
      border: none !important;
  }

  .year-month-wrapper[data-v-4bd11526] {
      background: #FAAE2B;
  }

  .nav-l[data-v-4bd11526], .nav-r[data-v-4bd11526] {
      background: #FAAE2B;
  }

  .days[data-v-4bd11526] {
      color: #FAAE2B !important;
  }

  .activePort[data-v-4bd11526], .activePort[data-v-4bd11526]:hover {
      background: #FAAE2B;
  }
  .okButton[data-v-4bd11526] {
      color: #FAAE2B;
  }
  option:disabled {
      background-color: white;
  }

  .ant-calendar-picker {
      width: 100% !important;
  }
  .ant-input {
      border: none !important;
  }

    .age {
        padding: 8px 0;
    }
</style>
