<template>
    <div class="row">
        <div class="header__header" v-if="!isLoggedIn">
                <div class="header__header-column-left">
                    <img class="header__search-img" src="../assets/images/search.png" alt="">
                    <input class="header__search-input" type="text" placeholder="Поиск"/>
                </div>
                <div class="header__header-column-center">
                    <div class="header__entrance-button" @click="openModalLogIn()">Войти</div>
                </div>
                <div lass="header__header-column-right">
                    <button class="header__registration-button" @click="openModalAuth()">Зарегистрироваться</button>
                </div>
        </div>
        <div class="header__header" v-if="isLoggedIn">
                <div class="header__header-column-left">
                    <img class="header__search-img" src="../assets/images/search.png" alt="">
                    <input class="header__search-input" type="text" placeholder="Поиск"/>
                </div>
                <div class="header__header-column-center">
                    <button class="header__header-create-event" @click="openModalCreateEvent">Создать событие</button>
                </div>
                <div class="header__header-column-right">
                    <div class="circle" >
                        <img src="../assets/images/avatar.png" alt="" />
                    </div>
                </div>
<!--                                <div class="event-list__entrance-button" @click="modalAuth = true">Войти</div>-->
<!--                                <div><button class="event-list__registration-button" @click="modalRegistration = true">Зарегистрироваться</button></div>-->
        </div>
        <registration-form></registration-form>
        <auth-form></auth-form>
        <create-event></create-event>
        <sports-categoty></sports-categoty>

    </div>
</template>

<script>
    import registration from "./registration";
    import authorization    from "./authorization";
    import createEvent from "./createEvent";
    import SportsCategory from "./SportsCategory"
    // import store from '../store';
    import {mapMutations} from 'vuex';

    export default {
        name: "Header",
        data() {
            return {
                modalCreateEvent: false
            }
        },
        methods: {
            ...mapMutations('modals', {
                openModalAuth: 'openModalAuth',
                openModalLogIn: 'openModalLogIn',
                openModalCreateEvent: 'openModalCreateEvent'
            }),
            createEvent() {
                this.modalCreateEvent = !this.modalCreateEvent
            },
        },
        components: {
            'registration-form': registration,
            'auth-form': authorization,
            'create-event': createEvent,
            'sports-categoty': SportsCategory,
        },
        computed: {
            isLoggedIn() {
                console.log('this.$session.exists()', this.$session.exists())
                return (this.$session.exists())
            }
        }
    }
</script>

<style lang="scss">
    .header {

    &__header {
         width: 100%;
         height: 122px;
         background-color: #FFFFFF;
         padding: 30px 42px;
         box-shadow: 0px 4px 20px rgba(51, 51, 51, 0.2);
        display: flex;
        /*flex-flow: wrap;*/
        transition: 0.5s;
        position: relative;
     }

    &__header-column-left {
         width: 60%;
         /*background-color: red;*/
     }

    &__header-column-center {
         width: 20%;
         /*background-color: blue;*/
     }

    &__header-column-right {
         width: 16%;
         cursor: pointer;
         /*background-color: yellow;*/
     }

    &__search-input {
        width: 100%;
         /*width: 626px;*/
         height: 50px;
         background: #EEEEEE;
         border-radius: 5px;
         border: none;
         font-family: Source Sans Pro;
         font-style: normal;
         font-weight: normal;
         font-size: 18px;
         line-height: 23px;
         color: #616060;
         padding-left: 59px;
     }

    &__search-img {
         position: absolute;
         top: 45px;
         left: 60px;
         cursor: pointer;
     }

    &__header-create-event {
         width: 212px;
         height: 50px;
         background: #FAAE2B;
         border: none;
         box-shadow: 0px 4px 20px rgba(250, 174, 43, 0.25);
         border-radius: 5px;


         font-family: Source Sans Pro;
         font-style: normal;
         font-weight: 600;
         font-size: 18px;
         line-height: 23px;
         color: #FFFFFF;
     }

    &__registration-button {
         width: 208px;
         height: 50px;
         background: #F59F1E;
         border: none;
         box-shadow: 0px 4px 20px rgba(250, 174, 43, 0.25);
         border-radius: 5px;

         font-family: Source Sans Pro;
         font-style: normal;
         font-weight: 600;
         font-size: 18px;
         line-height: 23px;
         cursor: pointer;
         color: #FFFFFF;
     }

    &__entrance-button {
         padding: 10px 52px;
         font-family: Source Sans Pro;
         font-style: normal;
         font-weight: 600;
         font-size: 18px;
         line-height: 23px;
         color: #FAAE2B;
         cursor: pointer;
     }
    }

</style>