<template>
  <div class="hello">
        <div class="wrapper">
        <div class="registrarion">
            <header class="header">
                <div class="header__btn">Вход</div>
                <div class="header__btn" @click="openRegistration()">Регистрация</div>
            </header>

    <button @click="openSportsCategory()">Select sports</button>

     <sports-category v-if="modalSportsCategory" @statusModal="modalSportsCategory = $event"></sports-category>
     <registration-form v-if="modalRegistration"></registration-form>
     </div>
     </div>
  </div>
</template>

<script>
import sportsCategory from './SportsCategory.vue';
import registration from './registration.vue';

export default {
  name: 'HelloWorld',
  props: {
    msg: String,
  },
  data() {
    return {
        modalSportsCategory: false,
        modalRegistration: false
    }
  },
  methods: {
    openSportsCategory() {
      this.modalSportsCategory = !this.modalSportsCategory
   },
       openRegistration() {
      this.modalRegistration = !this.modalRegistration
   }

  },
  components: {
    'sports-category': sportsCategory,
    'registration-form': registration
  }
}
</script>

<style>
</style>
