<template>
    <div class="modal-registration" v-if="modalAuth">
        <div class="modal-registration__modal">

<div class="modal-registration__modal-block--image">
    <img src="../assets/images/registration-picture.png" alt="" />
</div>
<div class="modal-registration__modal-block--form">
    <div class="modal-registration__title">
    <p>Регистрация</p>
        <div class="modal-registration__close" @click="closeModalAuth()">
            <img src="../assets/images/close.png" alt="">
        </div>
    </div>
            <form action="#" @submit.prevent="onSubmit">

                <div class="form-group">
                    <label class="form-group__label" for="username">Введите ел. почту</label>

                    <input class="form-group__input" type="text" id="username" name="username" v-model.trim="user.username"
                           :class="{isInvalid: (!$v.user.username.required && $v.user.username.$dirty)}" @blur="$v.user.username.$touch()">
                    <div class="form-group__lock">
                        <div class="email" :class="{isInvalidImage: (!$v.user.username.required && $v.user.username.$dirty)}" ></div>
                    </div>

                </div>
                <div class="invalidFeedbackBlock">
                    <span class="error" v-if="!$v.user.username.required && $v.user.username.$dirty">Email is required.</span>
                    <span class="error" v-if="$v.user.username.required && $v.user.username.$dirty && !$v.user.username.email">Should be email</span>
                </div>

                <div class="form-group">
                    <label class="form-group__label" for="pass">Создайте пароль</label>
                    <div class="form-group__lock">
                        <div class="lock" :class="{isInvalidImage: (!$v.user.password.required && $v.user.password.$dirty)}"></div>
                    </div>

                    <input class="form-group__input" :type="showPassword ? 'text' : 'password'" id="pass" name="pass"
                           v-model.trim="user.password"
                           :class="{isInvalid: (!$v.user.password.required && $v.user.password.$dirty)}" @blur="$v.user.password.$touch()">
                    <div class="form-group__show-pass" @click="showPassword = !showPassword">
                        <img src="../assets/images/show-eye.svg" alt="">
                    </div>
                </div>
                <div class="invalidFeedbackBlock">
                    <span class="error" v-if="!$v.user.password.required && $v.user.password.$dirty">Password is required.</span>
                    <span class="error"
                          v-if="(!$v.user.password.minLength || !$v.user.password.maxLength) && $v.user.password.$dirty">
                        Password should be 6-20 characters( entered {{user.password.length}})
                    </span>
                </div>

                <div class="form-group">
                    <label class="form-group__label" for="confirm">Подтвердите пароль</label>
                    <div class="form-group__lock" @click="toggleShowPassword('showPassword')">
                        <div class="lock" :class="{isInvalidImage: (!$v.user.confirmPassword.sameAs && $v.user.confirmPassword.$touch)}"></div>

                    </div>
                    <input class="form-group__input" :type="showConfirmPassword ? 'text' : 'password'" id="confirm" name="confirm"
                           v-model.trim="user.confirmPassword"
                           :class="{isInvalid: (!$v.user.confirmPassword.sameAs && $v.user.confirmPassword.$touch)}" @blur="$v.user.confirmPassword.$touch()">
                    <div class="form-group__show-pass" @click="toggleShowPassword('showConfirmPassword')">
                        <img src="../assets/images/show-eye.svg" alt="">
                    </div>
                </div>
                <div class="invalidFeedbackBlock">
                    <span class="error" v-if="!$v.user.confirmPassword.sameAs && $v.user.confirmPassword.$dirty">Should be the same with password</span>
                </div>

                <input class="form-group__button" type="submit" value="Зарегистрироваться">
            </form>
            <div class="registered"><span>Уже создали аккаунт?</span> <a href="#">Войдите</a></div>
        </div>
        </div>

    </div>
</template>

<script>
    // import axios from 'axios';
    import {required, sameAs, email, minLength, maxLength} from 'vuelidate/lib/validators';
    // import Swal from 'sweetalert2'
    import {mapState, mapActions, mapMutations} from 'vuex';

    export default {
        name: 'registration-form',
        data() {
            return {
                showModal: true,
                user: {
                    username: null,
                    password: null,
                    confirmPassword: null
                },
                submitStatus: null,
                showPassword: false,
                showConfirmPassword: false
            }
        },
        validations: {
            user: {
                username: {required, email},
                password: {
                    required,
                    minLength: minLength(6),
                    maxLength: maxLength(20)
                },
                confirmPassword: {sameAs: sameAs('password')}
            }
        },
        computed: {
            ...mapState('modals', {
                modalAuth: 'modalAuth'
            }),
        },
        methods: {
            ...mapActions({
                registerNewUser: 'registerNewUser',
                logIn: 'logIn'
            }),
            ...mapMutations('modals', {
                closeModalAuth: 'closeModalAuth',
            }),

            async onSubmit() {
                // let url = 'https://playerplus.herokuapp.com/registration'
                if (this.$v.$invalid) {
                    this.$v.$touch();
                    console.log('not send')
                } else {
                    console.log('send')
                    const user = {
                        username: this.user.username,
                        password: this.user.password,
                    }
                    // console.log(JSON.stringify(user))


                    let result = await this.$store.dispatch('modals/registerNewUser', user)
                    console.log('result', result)
                    if(result.response.status === 200) {
                        await this.$store.dispatch('modals/logIn', user)
                        this.$session.start()
                        this.$nextTick()
                    }

                    // axios
                    //     .post(url, user)
                    //     .then(response => {
                    //
                    //         if(response) {
                    //             Swal.fire({
                    //                 position: "top-end",
                    //                 type: "success",
                    //                 title: "Вы успешно зарегистрировались",
                    //                 showConfirmButton: false,
                    //                 timer: 1500,
                    //                 confirmButtonColor: "#23bfca"
                    //             });
                    //
                    //         }
                    //         console.log("OK", response);
                    //     })
                    //     .catch(error => {
                    //
                    //         if(error.response.data == 'User with such email is already exist') {
                    //             Swal.fire({
                    //                 position: "top-end",
                    //                 type: "success",
                    //                 title: "Пользователь с такой почтой уже зарегистрирован",
                    //                 showConfirmButton: false,
                    //                 timer: 1500,
                    //                 confirmButtonColor: "#23bfca"
                    //             });
                    //
                    //         }
                    //         console.log("NOT OK", error.response.data);
                    //     });
                }
            },
            toggleShowPassword(name) {
                this[name] = !this[name]
            }
        }
    }
</script>

<style lang="scss">
    * {
        box-sizing: border-box;
    }

    @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900&display=swap&subset=cyrillic');

    .modal-registration {
        height: 100vh;
        width: 100vw;
        background-color: rgba(71, 93, 91, 0.5);
        position: absolute;
        top: 0;
        left: 0;


        &__modal {
            background-color: white;
            max-width: 1264px;
            max-height: 595px;
            box-shadow: 0px 4px 20px rgba(51, 51, 51, 0.25);
            border-radius: 15px;
            margin: 0 auto;
            // padding-top: 42px;
            /*vertical-align: middle;*/
            margin-top: 7%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }

        &__modal-block {
            width: 50%;
            position: relative;

            &--image {
                padding-left: 28px;
                margin-top: -47px;
            }
            &--form {
                padding: 42px 55px 50px 59px;
            }


        }

        &__modal {
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 42px;
            color: #333333;
        }
        &__title {
            position: relative;
        }

        &__close {
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .registrarion {
        background: url('../assets/images/background.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 100vh;
    }

    .header {
        display: flex;
        justify-content: flex-end;
        margin: 0 155px 140px 0;
        padding-top: 35px;

        &__btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 171px;
            height: 50px;
            background: #00473E;
            box-shadow: 0px 4px 20px rgba(0, 71, 62, 0.25);
            border-radius: 5px;
            margin: 0 12px;
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 23px;
            color: #F2F7F5;
            text-decoration: none;
            cursor: pointer;

            &:hover {
                background: transparent;
                color: #00473E;
                border: 3px solid #00473E;

            }
        }
    }
    .form-group:hover .email {
        background-color: #FAAE2B;
    }

    .form-group:hover .form-group__input {
        border: 1px solid #FAAE2B;
    }


    .form-group:hover .lock {
        background-color: #FAAE2B;
    }

    .form-group {
        /*display: flex;*/
        /*flex-direction: column;*/
        position: relative;
        margin-bottom: 27px;
        text-align: left;

        &__label {
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            /*padding-left: 96px;*/
        }

        &__input {
            max-width: 556px;
            width: 100%;
            height: 50px;
            border: 1px solid rgba(187, 187, 187, 0.6);
            box-sizing: border-box;
            border-radius: 5px;
            margin-top: 12px;
            padding-right: 58px;
            padding-left: 63px;

            font-family: Source Sans Pro;
            font-style: Regular;
            font-size: 20px;
            line-height: 25px;

        }

        &__button {
            background: #FAAE2B;
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            box-shadow: 0px 4px 20px rgba(0, 71, 62, 0.25);
            border-radius: 5px;
            max-width: 556px;
            width: 100%;
            height: 50px;
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 23px;
            margin: 0 auto;
            color: #FFFFFF;
            transition: 0.5s;
            margin-bottom: 24px;
            cursor: pointer;

            &:hover {
                background: #F5A61E;
                box-shadow: 0px 4px 20px rgba(250, 174, 43, 0.25);
                border-radius: 5px;            }
        }

        &__show-pass {
            /*width: 1.3em;*/
            position: absolute;
            top: 50%;
            right: -45px;
            cursor: pointer;
            padding-right: 58px;

            &::before {
                content: "";
                height: 90%;
                border: 1px solid #C4C4C4;
                position: absolute;
                top: 7px;
                left: -9px;
            }
        }

        &__lock {
            width: 1.3em;
            position: absolute;
            top: 67%;
            left: 15px;
            padding-right: 58px;
        }

    }

    .add-photo {
        display: flex;
        justify-content: center;
        cursor: pointer;
    }

    .registered {
        display: flex;
        justify-content: center;

        span {
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 23px;
        }

        a {
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 23px;
            color: #F5A61E;
        }
    }


    @media (max-width: 992px) {
        .header {
            margin-bottom: 50px;
        }
    }

    @media (max-width: 768px) {
        label {
            text-align: center;
            padding-left: 0 !important;
        }
        .reg-form {
            padding: 0 10px;
            border-radius: 0;
        }
        .header {
            justify-content: center;
            margin-right: 0;
        }
    }

    .isInvalid {
        border: 1px solid #d24a43;
        /*box-shadow: 3px 4px 4px rgba(210, 74, 67, 0.8);*/

    }

    .invalidFeedbackBlock {
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;

        color: #F0411B;
        margin-top: -24px;
        height: 24px;
    }

    div .isInvalidImage {
        width: 18px;
        height: 15px;
        background-color: red;
        display: block;
        mask-image: url('../assets/images/email.svg');

    }
    /*.svg-icon {*/
    /*    !*background: green;*!*/
    /*    !*color: red*!*/
    /*    fill: #d24a43;*/
    /*}*/

    /*.link{*/
    /*    width: 18px;*/
    /*    height: 15px;*/
    /*    background-color: #000;*/
    /*    display: block;*/
    /*    mask-image: url('../assets/images/email.svg');*/
    /*}*/
    .email {
        width: 18px;
        height: 15px;
        background-color: #BBBBBB;
        display: block;
        mask-image: url('../assets/images/email.svg');

        &:hover {
            background-color: #FAAE2B;
        }
    }

    .lock {
        width: 16px;
        height: 20px;
        background-color: #BBBBBB;
        display: block;
        mask-image: url('../assets/images/lock.svg');

        &:hover {
            background-color: #FAAE2B;
        }

    }
</style>
