<template>
    <div class="sports-category" v-if="modalSportsCategory">
        <div class="sports-category__modal">
                <div class="row">
                    <img class="sports-category__back-arrow " src="../assets/back.png" alt="" @click="closeModalSportsCategory()">
                    <span class="sports-category__title">Выберите интересующие Вас виды спорта</span>
                </div>

                <div class="row">
                    <div class="sports-category__item" v-for="(sport, index) in sportTypes"
                         @click="setSelectSport(index, sport)" :class="{selected: sport.selected}" :key="index">
                        <div class="sports-category__item-text">{{sport.name}}</div>
                        <img class="sports-category__image" :src="sport.imagelink" alt="">
                    </div>
                </div>

            <div>
                <button class="sports-category__button" @click="select()">
                    Готово
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    import Swal from 'sweetalert2';
    import {mapMutations, mapState} from "vuex";

    export default {
        name: 'sports-category',
        props: {
            msg: String
        },
        data() {
            return {
                sportTypes: [{
                    id: 1,
                    name: 'Футбол',
                    imagelink: require('@/assets/football.png'),
                    selected: false
                },
                    {
                        id: 2,
                        name: 'Теннис',
                        imagelink: require('@/assets/tennis.png'),
                        selected: false
                    },
                    {
                        id: 3,
                        name: 'Баскетбол',
                        imagelink: require('@/assets/Basketball.png'),
                        selected: false
                    },
                    {
                        id: 4,
                        name: 'Бег',
                        imagelink: require('@/assets/run.png'),
                        selected: false
                    },
                    {
                        id: 5,
                        name: 'Фитнес',
                        imagelink: require('@/assets/fitness.png'),
                        selected: false
                    },
                    {
                        id: 6,
                        name: 'Воркаут',
                        imagelink: require('@/assets/workout.png'),
                        selected: false
                    },
                    {
                        id: 7,
                        name: 'Йога',
                        imagelink: require('@/assets/yoga.png'),
                        selected: false
                    },
                    {
                        id: 8,
                        name: 'Плавание',
                        imagelink: require('@/assets/swimming.png'),
                        selected: false
                    },
                    {
                        id: 9,
                        name: 'Волейбол',
                        imagelink: require('@/assets/volleyball.png'),
                        selected: false
                    },
                    {
                        id: 10,
                        name: 'Гольф',
                        imagelink: require('@/assets/golf.png'),
                        selected: false
                    },
                    {
                        id: 11,
                        name: 'Велосипед',
                        imagelink: require('@/assets/bike.png'),
                        selected: false
                    },
                    {
                        id: 12,
                        name: 'Крикет',
                        imagelink: require('@/assets/cricket.png'),
                        selected: false
                    },
                    {
                        id: 13,
                        name: 'Гимнастика',
                        imagelink: require('@/assets/gymnastics.png'),
                        selected: false
                    }
                ],
                selectedSports: [],
                showModal: true
            }
        },
        methods: {
            ...mapMutations('modals', {
                closeModalSportsCategory: 'closeModalSportsCategory',
            }),
            setSelectSport(index, sport) {
                sport.selected = !sport.selected;
                if (sport.selected == true) {
                    this.selectedSports.push(sport.id)
                } else {
                    for (let i = 0; i < this.selectedSports.length; i++) {
                        if (this.selectedSports[i] == sport.id) {
                            this.selectedSports.splice(i, 1)
                        }
                    }
                }
                this.sportTypes[index] = sport;
            },
            select() {
                if(this.selectedSports.length == 0) {
                    Swal.fire('Выберите виды спорта')
                } else if (this.selectedSports.length != 0) {
                    alert(`You selected sports(id): ${this.selectedSports}`)
                    // this.closeModal()
                }
            },
            closeModal() {
                this.$emit("statusModal", false);
                this.showModal = false;

            }
        },
        computed: {
            ...mapState('modals', {
                modalSportsCategory: 'modalSportsCategory'
            })
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    * {
        box-sizing: border-box;
    }

    .sports-category {
        height: 100vh;
        width: 100vw;
        background-color: rgba(71, 93, 91, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        overflow-y: hidden;
        &__modal {
            background-color: white;
            width: 1027px;
            height: 802px;
            box-shadow: 0px 4px 20px rgba(51, 51, 51, 0.25);
            border-radius: 15px;
            margin: 0 auto;
            padding-top: 42px;
            padding: 0 35px;
            vertical-align: middle;
            //margin-top: 5%;
            overflow-y: hidden;
        }

        &__title-block {
            text-align: left;
            padding-top: 42px;
            margin-bottom: 40px;
        }

        &__title {
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 45px;
            /*padding-top: 42px;*/

        }

        &__item {
            background-color: #00473E;
            width: 172px;
            height: 172px;
            border-radius: 10px;
            margin-right: 20px;
            margin-bottom: 20px;
            padding: 10px;
            cursor: pointer;
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 23px;
            color: #FFFFFF;
            text-align: center;

            &:nth-child(5n) {
                margin-right: 0px;
            }
        }

        &__button {
            background: #00473E;
            border: 1px solid #FFFFFF;
            box-shadow: 0px 4px 20px rgba(0, 71, 62, 0.25);
            border-radius: 5px;
            width: 100%;
            height: 50px;
            cursor: pointer;
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            color: #FFFFFF;
        }

        &__image {
            margin-top: 10px;
        }

        &__back-arrow {
            line-height: 45px;
            margin-right: 40px;
            cursor: pointer;
        }

        &__item-text {
            text-align: left;
        }
    }

    .table-container {
        width: 100%;
    }

    /*.flex-table {*/
    /*    display: flex;*/
    /*    flex-flow: wrap;*/
    /*    transition: 0.5s;*/

    /*}*/

    .row {
        flex-flow: wrap;
    }
    /*.flex-row {*/
    /*    width: calc(100% / 5.5);*/
    /*}*/

    .selected {
        background-color: #FAAE2B;
    }

    .swal2-styled.swal2-confirm {
        background-color: #00473E !important;
    }
</style>
